CONDOR_HOST = $(FULL_HOSTNAME)

COLLECTOR_NAME = Standalone Condor at $(FULL_HOSTNAME)

UID_DOMAIN = cern.ch

DAEMON_LIST = MASTER, SCHEDD, COLLECTOR, NEGOTIATOR

HIGHPORT = 35000
LOWPORT = 19000

ALLOW_WRITE = $(FULL_HOSTNAME)

MAX_HISTORY_LOG = 5M

IN_LOWPORT = 20000
IN_HIGHPORT = 25000

GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE = 20000
GRIDMANAGER_GAHP_CALL_TIMEOUT = 3600

GRIDMANAGER_MAX_PENDING_REQUESTS = 24
CREAM_GAHP_WORKER_THREADS = 12
GRIDMANAGER_JOB_PROBE_INTERVAL = 240

GSI_DAEMON_DIRECTORY = /etc/grid-security
GSI_DAEMON_CERT           = $(GSI_DAEMON_DIRECTORY)/hostcert.pem
GSI_DAEMON_KEY            = $(GSI_DAEMON_DIRECTORY)/hostkey.pem
GSI_DAEMON_TRUSTED_CA_DIR = $(GSI_DAEMON_DIRECTORY)/certificates

CONDOR_GAHP=$(SBIN)/condor_c-gahp
C_GAHP_LOG=/tmp/CGAHPLog.$(USERNAME)
C_GAHP_WORKER_THREAD_LOG=/tmp/CGAHPWorkerLog.$(USERNAME)

GLITE_LOCATION = $(LIB)/glite
BATCH_GAHP     = $(GLITE_LOCATION)/bin/batch_gahp

SEC_CLIENT_AUTHENTICATION_METHODS = FS, GSI, CLAIMTOBE

DELEGATE_JOB_GSI_CREDENTIALS = False
DELEGATE_FULL_JOB_GSI_CREDENTIALS = False

NEGOTIATOR_CONSIDER_PREEMPTION = false
SYSTEM_PERIODIC_HOLD = (NumJobStarts >= 1 && JobStatus == 1)
SYSTEM_PERIODIC_REMOVE = (member(JobStatus, {1,2,5,6,7}) && time() - EnteredCurrentStatus > 3600*24*15)
